body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url(/Img/fondorojo.avif);
    background-repeat: no-repeat;
    background-size:cover;
    font-size: 1vw; 
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    color: rgb(0, 0, 0); 
    font-size: 4vw; 
    margin: 0 auto; 
}

#graph-container {
    width: 80%; 
    height : 100px; 
    position : relative;
    overflow : visible; 
    z-index: 15;
    background-color: transparent;
}

/* Contenedor de la lluvia de cartas */
#rain-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    z-index: 0; 
    overflow: hidden;
}


#arboles {
    top: 10vh;
    height: 10vh; 
    background-image: url(/Img/Navideño3.gif); 
    background-repeat: round; /* Repetir la imagen horizontalmente */
    background-size: auto 100%; 
    z-index: 10;
}

.container {
    height: 10vh;
    margin-top: 0vh;
    z-index: 10;
}

.cajas-paralelas{
    position: center;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    z-index: 10;
}

.separador{
    position: relative;
    width: 15vw;
}

.user-input {   
    justify-content: center;
    width: 20vw; 
    margin: 20vh auto; 
    padding: 1vh; 
    background-color: #ffffff;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1); 
    border-radius: 0.8vw; 
    text-align: center;
    background-position: center;
    z-index: 10;
}

.input-container {
    display: flex;
    justify-content: center;
    margin: auto; 
    z-index: 10;
    font-size: 100%;
}

.textInput {
    padding: 1vh; 
    border: 0.1vw solid #ddd; 
    border-radius: 0.4vw; 
    width: 70%; 
    margin-right: 1vw; 
    z-index: 10;
    font-size: 100%;
}

.sendButton {
    padding: 1vh 1.5vw; 
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 0.4vw; 
    z-index: 10;
    font-size: 100%;
}

.sendButton:hover {
    background-color: #0056b3;
    z-index: 10;
}

.response-box {
    size: auto;
    margin-top: 2vh; 
    font-size: 0.8vw; 
    color: #333;
    z-index: 12;
}

/* Estilo base para las cartas */
.card {
    position: absolute;
    width: 50px; 
    height: auto;
    opacity: 0.8; 
    animation: fall linear infinite;
    z-index: 0;
}

/* Animación de caída */
@keyframes fall {
    0% {
        transform: translateY(-100%); /* Fuera de la pantalla en la parte superior */
    }
    100% {
        transform: translateY(100vh); /* Se mueve hasta la parte inferior de la pantalla */
    }
}